.cardteam {
    background: #162d4a;
    width: min(100% - 2rem, 35ch);
    margin-inline: auto;
    text-align: center;
    border-radius: 0.5rem;
    border: 1px solid;
    position: relative;
    overflow: hidden;
    display: grid;
    gap: 0.5rem;
    margin: 0;
}

.card__front {
    padding: 0;
    margin: 0;
    transition:
        opacity 250ms ease,
        transform 450ms ease;
}

.flow-content {
    display: grid;
    align-content: start;
    gap: 1rem;
    margin: 0;
}

.mx-auto {
    width: fit-content;
    margin: 0;
    margin-inline: auto;
}

.card__img {
    width: 5rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ddd;
}

.card__name {
    font-size: medium;
    font-weight: 700;
    margin: auto;
}

.card__position {
    font-style: italic;
    color: var(--color-text-menu);
    margin: 0;
}

.card__back {
    position: absolute;
    padding: 15px;
    inset: 0;
    transition:
        transform 450ms ease,
        opacity 150ms ease;
    z-index: 1;
    overflow: auto;
    margin: 0;
}

.card__social {
    justify-content: center;
    margin: 0;
    margin-bottom: 2em;
}

.flex-group {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
}

.card__footer {
    background-color: #0d1a2d;
    height: 0px;
    position: relative;
    z-index: 5;
    margin: 0;
    margin-bottom: 50px;
}

.card__toggle {
    text-align: 1;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    aspect-ratio: 1 / 1!important;
    padding: 0.5em;
    border: 0;
    background-color: #00829f;
    color: #fff;

    position: absolute;
    bottom: 0;
    left: 50%;
    top: -30%;
    transform: translateX(-50%);

    cursor: pointer;
    transition: background-color 250ms ease;
}

.card__toggle-icon {
    transition: rotate 250ms ease;
}

.cardteam[data-visible="true"] .card__toggle {
    background-color: crimson;
}

.cardteam[data-visible="true"] .card__toggle-icon {
    rotate: 315deg;
}

.cardteam[data-visible="false"] .card__front {
    opacity: 1;
    transform: translateY(0);
}

.cardteam[data-visible="false"] .card__back {
    opacity: 0;
    transform: translateY(100%);
}

.cardteam[data-visible="true"] .card__front {
    opacity: 0;
    transform: translateY(100%);
    transition:
        opacity 150ms ease,
        transform 450ms ease 50ms;
}

.cardteam[data-visible="true"] .card__back {
    opacity: 1;
    transform: translateY(0);
    transition:
        transform 350ms ease,
        opacity 450ms ease 100ms;
}

[data-spacing="sm"] {
    gap: 0.25rem;
}

ul:where([role="list"]) {
    list-style: none;
    margin: 0;
    padding: 0;
}